.header {
  padding: 20px 0;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authNav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.mobMenuBtn {
  display: inline-flex;

  .iconBurger {
    width: 32px;
    height: 32px;
    fill: var(--main-text);
    transition: fill var(--transition), transform var(--transition);
  }

  &:hover .iconBurger {
    fill: var(--theme-color);
    transform: scale(0.95);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}