.backdrop {
  position: fixed;
  z-index: 999;
  inset: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(47, 47, 47, 0.6);
  backdrop-filter: blur(8px);
  transition: opacity var(--transition);
}

.backdrop.open {
  opacity: 1;
  pointer-events: auto;
}

.mobMenu {
  position: fixed;
  z-index: 1000;
  inset: 0 0 0 50%;
  width: 50%;
  height: 100%;
  padding: 40px 10px;
  border: none;
  overflow: hidden;
  background-color: var(--background-gray);
  transform: translateX(100%);
  transition: transform var(--transition);
}

.mobMenu.open {
  transform: translateX(0);
}

.mobMenuContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.mobAuthNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;

  .icon {
    width: 32px;
    height: 32px;
    fill: none;
    stroke: var(--main-text);
    transition: stroke var(--transition), transform var(--transition);

    &:hover {
      stroke: var(--theme-color);
      transform: scale(0.95);
    }
  }

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
  }
}