.backdrop {
  position: fixed;
  z-index: 9998;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  max-width: 450px;
  width: 90%;
  padding: 36px;
  overflow-y: auto;
  border-radius: 30px;
  background-color: var(--background-white);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

  @media screen and (min-width: 768px) {
    max-width: 599px;
    padding: 64px;
  }
}

.closeBtn {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;

  .icon {
    width: 32px;
    height: 32px;
    stroke: var(--main-text);
    transition: stroke var(--transition), transform var(--transition);
  }

  &:hover svg {
    stroke: var(--theme-color);
    transform: scale(0.95);
  }
}

.modalContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-y: auto;
  flex-grow: 1;
  padding-right: 8px;

}

.infoWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .title {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
  }

  .subtitle {
    font-weight: 400;
    line-height: 1.375;
    color: var(--popup-second-text);
  }
}

.teacherWrap {
  display: flex;
  gap: 14px;

  img {
    border-radius: 50%;
  }

  .teacherInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;

    p {
      font-size: 12px;
      line-height: 1.33333;
      color: var(--gray-text);
    }

    b {
      line-height: 1.5;
    }
  }
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.submitBtn {
  padding: 16px 0;
  background-color: var(--theme-color);
  color: var(--main-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  border-radius: 12px;
  box-shadow: 0 4px 8px var(--theme-color-light);
  transition: background-color var(--transition), transform var(--transition);

  &:hover {
    background-color: var(--theme-color-light);
    transform: scale(0.95);
  }
}