.floatingGroup {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 17px 18px;
  border: 1px solid var(--border-input);
  border-radius: 12px;
  transition: border-color var(--transition) box-shadow var(--transition);

  &:active,
  &:hover,
  &:focus {
    border-color: var(--theme-color);
    box-shadow: 0 4px 4px #00000026;
  }
}

.label {
  position: absolute;
  top: 28px;
  left: 18px;
  transform: translateY(-50%);
  line-height: 1.375;
  font-weight: 400;
  pointer-events: none;
  background-color: var(--background-white);
  padding: 0 4px;
  transition: all var(--transition);
}

.input:focus+.label,
.input:not(:placeholder-shown)+.label {
  top: 0;
  color: var(--theme-color);
  transform: translateY(-50%) scale(0.85);
}

.passwordBtn {
  position: absolute;
  z-index: 2;
  top: 28px;
  right: 18px;
  transform: translateY(-50%);

  .icon {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: var(--main-text);
  }
}

.errorInput {
  border-color: var(--error);
}

.errorText {
  color: var(--error);
  font-size: 14px;
  font-weight: 400;
  margin-top: 4px;
}

.radioGroup {
  border: none;
}

.legend {
  font-size: 24px;
  line-height: 1.33333;
  margin-bottom: 20px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1.375;
  font-weight: 400;
}

.radioLabel:not(:last-child) {
  margin-bottom: 16px;
}

input[type="radio"] {
  position: relative;
  display: inline-block;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--gray-select);
  border-radius: 10px;
  background-color: var(--background-white);
  cursor: pointer;
}

input[type="radio"]::before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--theme-color);
  top: 50%;
  left: 50%;
  transform: scale(0) translate(-50%, -50%);
  transition: transform var(--transition);
}

input[type="radio"]:checked {
  background-color: var(--background-white);
  border-color: var(--theme-color);
}

input[type="radio"]:checked::before {
  transform: scale(1) translate(-50%, -50%);
}